<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar contraseña</title>
</head>
<body>
    <form id="resetPass" action="/request-password" method="post">
        <p>¿Cual es tu mail?</p>
        <input type="text" name="email" id="email">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>